<div>
  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/vOZGdT9nYbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <iframe
      width="100%"
      height="500"
      frameborder="0"
      allowfullscreen
      [src]="video.url | safe">
    </iframe>
</div>
<div>
  <form>
      <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.title}}</h3>
      <div *ngIf="editTitle" class="form-group">
          <input type="input" class="form-control" name="title" required placeholder="title"
          [(ngModel)]="video.title">
      </div>
      <div class="form-group">
          <input type="input" class="form-control" name="url" required placeholder="vOZGdT9nYbc"
          [(ngModel)]="video.url">
      </div>
      <div class="form-group">
          <textarea class="form-control" rows="5" name="desc" [(ngModel)]="video.description">
          </textarea>
      </div>
      <button type="button" (click)="updateVideo()" class="btn btn-primary">Update</button>
      <button type="button" (click)="deleteVideo()" class="btn btn-danger">Delete</button>
  </form>
</div>
